TF_VAR_cluster_name=homelab

TF_VAR_proxmox_endpoint=https://pve.lan:8006
TF_VAR_proxmox_node=pve
TF_VAR_proxmox_api_token=
TF_VAR_proxmox_insecure=true

TF_VAR_proxmox_ssh_username=root
TF_VAR_proxmox_ssh_private_key=

TF_VAR_vm_datastore_id=local-zfs
TF_VAR_image_datastore_id=local
TF_VAR_snippet_datastore_id=local

TF_VAR_vm_id_base=900
TF_VAR_startup_order=10

TF_VAR_talos_version=v1.11.2
TF_VAR_kubernetes_version=

TF_VAR_controlplane_ips=["10.11.7.21/24","10.11.7.22/24","10.11.7.23/24"]
TF_VAR_worker_ips=["10.11.7.31/24","10.11.7.32/24","10.11.7.33/24"]
TF_VAR_controlplane_vip=10.11.7.20
TF_VAR_node_gateway=10.11.7.1
TF_VAR_nameservers=["1.1.1.1","1.0.0.1"]

TF_VAR_bridge=vmbr0
TF_VAR_vlan_id=

TF_VAR_controlplane_vcpu=2
TF_VAR_controlplane_memory_mb=4096
TF_VAR_worker_vcpu=4
TF_VAR_worker_memory_mb=10240
TF_VAR_disk_gb=64

TF_VAR_gateway_ip=10.11.7.70
TF_VAR_metallb_pool=10.11.7.70-10.11.7.80

TF_VAR_parent_domain=hempire.money
TF_VAR_cluster_subdomain=p01
TF_VAR_cloudflare_api_token=
TF_VAR_letsencrypt_email=admin@hempire.money

TF_VAR_nas_host=10.11.7.5
TF_VAR_nas_dataset=tank/k8s
TF_VAR_nas_iscsi_portal=10.11.7.5:3260
TF_VAR_truenas_api_key=
TF_VAR_truenas_ssh_private_key=

TF_VAR_s3_endpoint=http://10.11.7.5:9000
TF_VAR_s3_access_key=
TF_VAR_s3_secret_key=

TF_VAR_platform_repo_url=https://github.com/Saline-Pty-Ltd/platform-gitops.git
TF_VAR_platform_path=../platform-gitops
TF_VAR_platform_token=

TF_VAR_hempire_repo_url=https://github.com/Saline-Pty-Ltd/gitops.git
TF_VAR_hempire_path=../gitops
TF_VAR_hempire_token=

TF_VAR_home_repo_url=https://github.com/Saline-Pty-Ltd/home-gitops.git
TF_VAR_home_path=../home-gitops
TF_VAR_home_token=

TF_VAR_argocd_chart_version=10.4.0

GITHUB_ORG=Saline-Pty-Ltd
TF_VAR_github_user=
TF_VAR_ghcr_token=

TF_VAR_sso_client_id=
TF_VAR_sso_client_secret=

TF_VAR_dockerhub_username=
TF_VAR_dockerhub_token=

TF_VAR_zitadel_masterkey=

TF_VAR_bff_session_secret=
TF_VAR_admin_session_secret=
TF_VAR_bank_basiq_api_key=

TF_VAR_crm_zitadel_client_secret=
TF_VAR_bank_client_id=
TF_VAR_bank_client_secret=
TF_VAR_bridge_client_id=
TF_VAR_bridge_client_secret=
TF_VAR_budget_client_id=
TF_VAR_budget_client_secret=
ZITADEL_PAT=

TF_VAR_kubeconfig_path=~/.kube/homelab
TF_VAR_talosconfig_path=~/.talos/homelab
